*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
}

body, html{
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}


/* Menu starts here */

a {
  text-decoration: none;
}
li {
  list-style: none;
}


header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  background-color: hsl(217, 28%, 15%);
  padding-top: 20px;
  font-size: 0%;
  justify-content: space-around;
}
.brand {
  width: 20%;
  height: 100%;
  float: left;
  margin: 0 0 0 1%;
}

.brand img{
  width: 30%;
  max-width: 40%;
  height:200%;
  max-height: 200%;
  float: left;
  margin: 0% 0 0 5%;
}

.menu {
  width: 75%;
  height: 100%;
  float: right;
  padding-top: 10px;
}

.menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;    
  justify-content: right; 
       
}
.menu ul a {
  width: 10%;
  height: inherit;
  color: white;
  display: inline-block;
  padding-right: 15px;
}

.menu ul a:hover {
  color: rgb(18, 178, 186);
  opacity: 0.7;
}
#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}

/* mobile menu starts here */

@media screen and (max-width: 768px) {

  .brand img{
      width: 100%;
      max-width: 80%;
      height:120%;
      max-height: 120%;
      margin: 0% 0 0 13%;
  
  }

  .menu {
      width: 100%;
      height: auto;
  }

  .menu ul {
      display: block;
      max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
 
  }
  .menu ul a {
      text-align: left;
      width: 100%;
      height: 50px;
      background-color: #0dfdfd;
      padding: 10px 0px 10px 3%;
      color: black;
  }
  .menu-icon {
      width: 100px;
      height: inherit;
      display: block;
      position: absolute;
      top: 1%;
      right: 0;
      line-height: 60px;
  }

  #menuToggle:checked ~ ul {
      max-height: 350px;
    }
  .menu-icon i {
      font-size: 1.7em;
  }
 
}
/* End of menu - mobile and desktop*/


/* hero container */
.hero-container{
  background-color: hsl(217, 28%, 15%);
}

/* Control hero image */
.hero-image{
  width: 100%;
  padding-top: 40px;
}

.hero-image img{
    margin-left: auto;
    margin-right: auto;
    display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
}


/* Explore-content Div */
.explore-content{
background-color: hsl(217, 28%, 15%);
text-align: center;
}

.explore-image{
  width: 100%;
  padding-top:5em;
}

.explore-image img{
  display: block;
  width: 100%;
  height: auto;
}




 /* Hero text positioned to the top */

 .explore-position{
  background-color: hsl(217, 28%, 15%);
 }



.explore-hero-text-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  text-align: center;
  margin: 0 auto;
}


.explore-hero-text {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  color: white;
  display: inline-block;
}


.explore-hero-text-container h1 {
  font-size: 2em;
  line-height: 1.3em;
  color: white;
}

.explore-hero-text-container p {
  font-size: 1em;
  padding-top: 1em;
  line-height: 1.3em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.explore-button-container{
padding: 40px;
}

.explore-button-container .button {
  background-color: rgb(13, 253, 253);
  border: none;
  color: black;
  padding: 10px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background-color: rgb(8, 169, 169); 
  color: white;
}


.two-divs{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: hsl(218, 28%, 13%);
   margin: 0 auto;
   flex-direction: row;
   flex-wrap: wrap;  
   padding-top: 25px;
}
 

.one{
  flex: 35%;
  max-width: 35%;
  padding: 0px 0px;
  margin: 10px;
}

.one .col-one{
 padding: 20px;
 margin-bottom: 20px;
  background-color: none;
  text-align: center;
  color: white;
}

.two{
  flex: 35%;
  max-width: 35%;
  padding: 0px 0px;
  margin: 10px;
}

.two .col-two{
  padding: 20px;
  margin-bottom: 20px;
   background-color: none;
   text-align: center;
 }

 .ResponsiveImages-one  {
  width: 50%;
  max-width: 70px;
  height: auto;
  padding-bottom: 10px;
}

.col-one h1{
  color: white;
  line-height: 2em;
  font-size: 1.1em;
  font-family: 'Manrope', sans-serif;
  }

  .col-two h1{
    color: white;
    line-height: 2em;
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
 }


/*  New Article */
 .productive{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
 margin: 0 auto;
 flex-direction: row;
 flex-wrap: wrap;  
 background-color: hsl(218, 28%, 13%);
}


 .pro-col{
  flex: 43%;
  max-width: 43%;
  padding: 0 20px;
  background-color: none;
  padding: 10px;
  margin: 20px;
  color: white;
}

.underline{
  line-height: 4em;
  color: red;
  display: flex;
  align-items: center;
}

.tag-third {
  padding-right: 5px;
  display: flex;
  align-items: center;
  font-size: 1em;
  }

  
  .tag-third img{
  width: 200%;
  max-width: 250px;
  height: auto;
  padding-top: 1px;
    }
  
    .tag-third a{
        color: aqua;
        text-decoration: none;
    }

    a:link {
      color: aqua;
      text-decoration: none;
    }
  
/*  Article FOUR  */

.Testimony{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
 margin: 0 auto;
 flex-direction: row;
 flex-wrap: wrap;  
 background-color: hsl(218, 28%, 13%);
 padding-left: 30px;
 padding-right: 30px;
 padding-top: 50px;
 padding-bottom: 12em;
 
}

/* Created to position quote mark */
.Quoteposition{
  position: relative;
}
.Quote {
position:absolute;
left: -1px;
top: -33px;
}

.Testimony-col{
  flex: 30%;
  max-width: 30%;
  padding: 0 20px;
  background-color: rgba(37, 30, 66, 0.5);
 padding: 20px;
 padding-top: 35px;
  margin: 10px;
  opacity: 1em;
}

.Testimony-col p {
  font-size: 0.9rem;
    line-height: 1.3em;
    color: white;
    padding-bottom: 15px;
}

table th:nth-child(1){
  color: red;
  padding-right: 5px;
}

.tableimg {
  height: 30px;
  border-radius: 20px;
}

.spantext{
  text-align: left;
  font-size: 12px;
  padding: 0%;
  color: white;
}

.tag{
  padding-left: 20px;
}


.Testimony-col{
    float: left;
    margin-right: 1px;
}


.Testimony-col {
  width:100px;
  float:left;
  background: #ff3232;
  /* Old browsers */
  background: linear-gradient(to right, rgba(37, 30, 66, 0.5) 50%, rgb(4, 170, 170) 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  margin-left:10px;
  transition:all 0.7s ease;
}
.Testimony-col:hover {
  background-position:right bottom;
}




/* Article Five */

.footer{
  background-color: hsl(218, 28%, 13%);
height: 30px;
}

.positioned-footer{
  position: relative;
  bottom: 6em;
  display: flex;
 margin: 0 auto;
 flex-direction: column;
 flex-wrap: wrap;  
 background-color: hsl(217, 28%, 15%);
 flex: 75%;
  max-width: 75%;
 padding-left: 30px;
 padding-right: 20px;
 padding: 10px;
 border-radius: 5px;
}

.position-content-container{
padding: 0px 30px 0px 30px ;
background-color: none;
}

.col-down{
  flex: 1;
  padding: 0 20px;
  background-color: none;
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: white;
  height: auto;
  
}

.col-down h1{
  font-size: 1.4em;
  line-height: 2em;
  padding-bottom: 10px;
}

.col-down p{
  font-size: 1.1rem;
}

.input-container{
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;  
 background-color: none;
 flex: 100%;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}



/* First input */

.input-one{
  flex: 1;
  margin: 10px;
  text-align: center;
  background-color: none;
  flex-grow: 3;
  height: auto;
}

.field {
  display:flex;
  flex: 1;
  flex-grow: 3;
  position:relative;
  width:auto;
  flex-direction:row;
  
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Open sans';
  border-radius: 20px;
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:none;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.field>button {
  background-color: #819090;
  color: #fff;
  border:none;
}


/* button */

.input-two{
  flex:1;
  padding: 0 20px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: rgb(13, 253, 253);
  color: black;
  border-radius: 35px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.input-two a{
  font-size: 1em;
}

/* Second footer - button footer */

.background{
background-color: none;
text-align: center;
}

.button-footer{
  display: flex;
  align-content: center;
  margin: 0 auto;
 flex-direction: row;
 flex-wrap: nowrap;
 background-color: hsl(216, 53%, 9%);
padding-left: 60px;
 padding-right: 40px;
 padding-top: 200px;
 padding-bottom: 60px;
 height: 100%;
}


.button-footer ul {
  list-style-type: none;
  margin: 0;
  width: 100px;
  text-align: center;
} 

.button-footer li a {
  display: block;
  background-color: none;
  padding: 5px;
  text-align: left;
}

.button-footer li :hover {
  opacity: 0.7;
}
.first-footer{
  flex: 1.6;
  background-color: none;
  text-align: left;
  align-self: center;
  margin: 5px;
  height: auto;
 color: white;
 flex-direction:row;
 font-family: 'Manrope', sans-serif;
 padding: 10px;
 padding-top: 3px;
 padding-bottom: 20px;
}

/* Two flex child container */

.first-child{
  background-color: none;
  height:auto;
  margin-bottom: 5px;
}

.first-child img {
  width: 25%;
  max-width: 30%;
  height:auto;
}

.second-child{
  height: auto;
  width: 100%;
}

 .text {
  color: white;
  font-size: 0.9em;
  width: 90%;
  font-weight: normal;
}

.image-size img{
  width: 100%;
}

.margin .fa {
  padding: 7px;
  font-size: 20px;
  width: 36px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
  border: 2px solid white;
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
  background: none;
  color: white;
}

.fa-twitter {
  background: none;
  color: white;
}

.fa-linkedin {
  background: none;
  color: white;
}


.second-footer{
  flex: 1;
  text-align: left;
  justify-content: end;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  font-size: 1em;
  color: white;
  background-color: none;
  padding-left: 7px;
  }

  .details{
    padding-top: 4px;
  }
  
  .second-footer p{
    font-size: 1em;
    line-height: 1.5em;
  }
  .second-footer ul li a{
    padding: 5px;
    color: white;
    font-size: 0.9em;
  }



/*  Media Query */
  @media only screen and (max-width: 991px) {
   .hero-image{
      padding: 25px 25px 0px 25px;
      z-index: 3;
    }
    .explore-image{
      width: 100%;
      padding-top:0em;
    }
    .explore-image img{
      z-index: 0;
    } 
    .explore-hero-text {
      width: 100%;
    }
    .explore-hero-text h1 {
      font-size: 1.50em;
    }
    .explore-hero-text p {
      font-size: 0.9em;
      width: 90%;
    }
    
   .two {
      flex: 100%;
      max-width: 100%;
      padding: 0px 0px;
      margin: 0px 10px 0px 10px;
    }
   
    .one {
      flex: 100%;
      max-width: 100%;
      padding: 0px 0px;
      margin: 0px 10px 0px 10px;
    }

    .ResponsiveImages-one  {
      padding-bottom: 20px;
    }
    
    .col-one p{
    color: white;
    font-size: 0.9em;
    }

    .col-two p{
      color: white;
      font-size: 0.9em;
    }
   
    .pro-col{
      flex: 100%;
      max-width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }

    
    /* New Article FOUR */
    .Testimony-col{
      flex: 100%;
      max-width: 100%;
    }

    .Quote {
      position:absolute;
      left: -1px;
      top: -33px;
      }

    .Testimony{
     padding-left: 10px;
     padding-right: 15px;
     padding-top: 30px;
     padding-bottom: 9em;
     background-color:hsl(218, 28%, 13%);
    }

    .Testimony-col p{
      color: white;
      font-size: 0.9em;
  }

    .positioned-footer{
     flex-direction: column;  
     background-color: none;
     flex: 100%;
    max-width: 100%;
     margin-left: 18px;
     margin-right: 18px;
     padding: 3px;
    }
    .col-down{
      margin: 1px;
      padding: 5px;
    }

    .col-down h1{
      font-size: 1.2em;
    }

    .col-down p{
      font-size: 0.9em;
    }
    .position-content-container{
      padding: 0px 0px 0px 0px ;
      background-color: none;
      }

    .input-container {
     flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    }
    
    .button-footer{
     flex-direction: column;
    padding-left: 5px;
     padding-right: 5px;
    }
   
    .margin{
    margin-top: 0px;
    justify-content: center;
    text-align: center;

    }
    
  
    .first-child{
      background-color: none;
      height:auto;
    }

    
    .first-footer .pngimage {
      width: 7%;
    }
  
    .first-footer .text {
      color: white;
      font-size: 0.9em;
      width: 90%;
      font-weight: normal;
      padding-top: 5px;
      padding-right: 2px;
    }
    
    .second-footer{
      margin-bottom: 20px;
      }
  }


 



  @media (max-width: 550px) {
    p { font-size: 1em;
      line-height: 1.3em;}
      
      .pro-col h1{
          font-size: 1.2em;
          padding-bottom: 0.5em;
          line-height: 1.3em;
          color: white;
        width: 100%;
        font-weight: bold;
        font-weight: 600;
        font-family: 'Manrope', sans-serif;
      }
      .pro-col p{
       padding-top: 10px;
       line-height: 1.2em;
       width: 100%;
       font-family: 'Manrope', sans-serif;
    }
    
  }
  

  @media (min-width: 551px) {
    p {   font-size: 1.1rem;
    line-height: 1.3em;}
    
    .pro-col h1{
        font-size: 2em;
        line-height: 1.3em;
        color: white;
      width: 60%;
      font-weight: bold;
      font-weight: 600;
      font-family: 'Manrope', sans-serif;
    }
    .pro-col p{
     padding-top: 20px;
     font-size: 1.1rem;
     line-height: 1.3em;
     width: 95%;
     font-family: 'Manrope', sans-serif;
  }
  
 
  }